/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-3 { 
    background-color: yellow;
    border: 16px solid gold;
    border-radius: 16px;
    margin: 16px;
    width: 360px;
    padding: 16px;
}
.pokemon-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.card-style-3 h2{
    font-size: 30px;
    margin: 0px;
}
.card-style-3 .health{
    font-size: 20px;
}

.card-style-3 img{
    border: 4px solid goldenrod;
    width:100%;
}
.card-style-3 .details{
    font-size: 12px;
    text-align: center;
    background-color: gold;
    font-weight: bold;
    font-style: italic;
}
.card-style-3 .attack{
    display: flex;
    align-items: center;
    padding: 20px;border-bottom:2px solid black;
}
.card-style-3 .attack .description span{
    font-weight: bold;
    font-size: 16px;
}
.card-style-3 .attack .description{
    font-size: 14px;
    
}
.card-style-3 .data{
    font-size: 12px;
    font-weight: bold;
    border: 2px solid gold;
    margin: 6px 0px ;
    
}

#pokemon-card-1{
    background:radial-gradient(at center,rgb(192, 255, 209), rgb(0, 107, 128));
        border: 16px solid rgb(66, 109, 113);
}
#pokemon-card-1 .data{
    border: 2px solid rgb(155, 236, 244);
    background-color: rgb(155, 236, 244);
}
#pokemon-card-1 .details{
    background-color: rgb(155, 236, 244);
}
#pokemon-card-1 img{
    border: 4px solid rgb(155, 236, 244);
}

#pokemon-card-2{
    background:radial-gradient(at center,rgb(249, 138, 203), rgb(162, 61, 235));
        border: 16px solid rgb(134, 51, 124);
}
#pokemon-card-2 .data{
    border: 2px solid rgb(253, 151, 246);
    background-color: rgb(253, 151, 246);
}
#pokemon-card-2 .details{
    background-color: rgb(253, 151, 246);
}
#pokemon-card-2 img{
    border: 4px solid rgb(253, 151, 246);
}

#pokemon-card-3{
    background:radial-gradient(at center,rgb(249, 232, 39), rgb(248, 63, 21));
        border: 16px solid rgb(177, 57, 16);
}
#pokemon-card-3 .data{
    border: 2px solid rgb(252, 226, 99);
    background-color: rgb(252, 226, 99);
}
#pokemon-card-3 .details{
    background-color: rgb(252, 226, 99);
}
#pokemon-card-3 img{
    border: 4px solid rgb(252, 226, 99);