/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
.img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border:2px solid black ;
    margin: 10px;;


}