* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}
#hero-1 {
    background-image: url("../images/misty-mountains.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative; 
}
#hero-1 h2 {
    font-size: 50px; 
    position: absolute; 
    left: 16%;
    bottom: 70%;
    max-width: 1000px;
}
#hero-1 h4 {
    font-size: 25px; 
    position: absolute; 
    left: 16%;
    bottom: 65%;
}
#hero-1 a{
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    left: 16%;
    bottom: 55%;
}

#hero-2 {
    background-image: url("../images/snowy-wasteland.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
#hero-2-text{
    position: absolute;
    top:45%;
}
#hero-2 h2 {
    font-size: 72px;
    margin-bottom: 36px;
}
#hero-2 h4 {
    font-size: 24px;
    margin: px;
}
#hero-2 a{
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px 60px;
    font-weight: 400px;
}

#hero-3 {
    background-image: url("../images/path.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: right;
    
    
}
#hero-3-text{
    position: absolute;
    margin-right:36px ;
    top:1%;
    left: 50%;
    
}
#hero-3 h2 {
    font-size: 62px;
    max-width: 600px;
    margin-top: 240px;
    color:rgb(255, 255, 255);
    
}
#hero-3 h4 {
    font-size: 24px;
    color: white;
}
#hero-3 a{
    font-size: 14px;
    display: inline-block;
    background-color: rgb(150, 177, 90);
    color: white;
    text-decoration: none;
    padding: 24px;
    font-weight: 400px;
}