* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}
#cards-container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#cards-container1 .card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

#card-container1 .card a{
    text-decoration: none;
    color: black;
    border: 3px solid black;
    display: block;
    padding: 12px;
    margin-top: 36px;
}
#card1:hover {
    background-color: pink;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    border: 3px solid red;
    border-radius: 30px;
}
#card1 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s, 1s;
}

#card2:hover {
    background-color: lightblue;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    border: 3px solid blue;
    border-radius: 30px;
}
#card2 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s, 1s;
}

#card3:hover {
    background-color: antiquewhite;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    border: 3px solid rgb(165, 97, 42);
    border-radius: 30px;
}
#card3 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s, 1s;
}

#card4:hover {
    background-color: rgb(249, 186, 139);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    border: 3px solid rgb(255, 123, 0);
    border-radius: 30px;
}
#card4 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s, 1s;
}

/* Second Container----- */

#cards-container2 {
    display: flex;
    margin: 36px;
    flex-direction: column;
}
#cards-container2 .card-2 img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}
#card-2 {
    position: relative;
    left:10%;
}

#cards-container2 #card1-g2 .viynl{
    width: 380px;
    height: 380px;
    position: absolute;
    left:340px;
    visibility: hidden;
    transform: translateX(-150px);
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.2s,
        visibility 0.2s,
        transform 0.5s, 2s;
    z-index: -1;
}
#cards-container2 #card1-g2:hover .viynl{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#cards-container2 #card2-g2 .viynl{
    width: 380px;
    height: 380px;
    position: absolute;
    left:340px;
    visibility: hidden;
    transform: translateX(-150px);
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.2s,
        visibility 0.2s,
        transform 0.5s, 2s;
    z-index: -1;
}
#cards-container2 #card2-g2:hover .viynl{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#cards-container2 #card3-g2 .viynl{
    width: 380px;
    height: 380px;
    position: absolute;
    left:340px;
    visibility: hidden;
    transform: translateX(-150px);
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.2s,
        visibility 0.2s,
        transform 0.5s, 2s;
    z-index: -1;
}
#cards-container2 #card3-g2:hover .viynl{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#cards-container2 #card4-g2 .viynl{
    width: 380px;
    height: 380px;
    position: absolute;
    left:340px;
    visibility: hidden;
    transform: translateX(-150px);
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.2s,
        visibility 0.2s,
        transform 0.5s, 2s;
    z-index: -1;
}
#cards-container2 #card4-g2:hover .viynl{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}


/* Last gallery */


#cards-container3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 40px;
}
#cards-container3 .card-3{
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    margin:40px;
    
}
#cards-container3 a{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.487);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    
}
#cards-container3 #card1-g3{
    background-color: red;
}
#cards-container3 #card1-g3:hover{
    box-shadow: 0px 0px 50px red;
    padding: 50px;
    visibility: hidden;
    transition: 
        visibility 0.5s,
        transform 0.5s, 1s;
    height: 300px;
}
#cards-container3 #card2-g3{
    background-color: blue;
}
#cards-container3 #card2-g3:hover{
    box-shadow: 0px 0px 50px blue;
    padding: 50px;
    visibility: hidden;
    transition: 
        visibility 0.5s,
        transform 0.5s, 1s;
    height: 300px;
}
#cards-container3 #card3-g3{
    background-color: green;
}
#cards-container3 #card3-g3:hover{
    box-shadow: 0px 0px 50px rgb(30, 244, 30) ;
    padding: 50px;
    visibility: hidden;
    transition: 
        visibility 0.5s,
        transform 0.5s, 1s;
    height: 300px;
}
#cards-container3 #card4-g3{
    background-color: yellow;
}
#cards-container3 #card4-g3:hover{
    box-shadow: 0px 0px 50px rgb(255, 213, 0);
    padding: 50px;
    visibility: hidden;
    transition: 
        visibility 0.5s,
        transform 0.5s, 1s;
    height: 300px;
}