/* Drill 1 - Write your code solution below */
.orange {
    color: limegreen;
}


/* Drill 2 - Write your code solution below */
.purple {
    color: orangered;
}

/* Drill 3 - Write your code solution below */
.dashed span {
    color: magenta;
}


/* Drill 4 - Write your code solution below */
div.shadowed p {
    background-color: skyblue;
}


/* Drill 5 - Write your code solution below */
div.dog-days img {
    border-radius: 50%;
}

