* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(38, 38, 38);
}

#grid-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-areas: 
        "header     header"
        "sidebar    main";
        
}

#header {
    grid-area: header;
    padding: 8px 36px;
    background-color: black;
    text-align: center;
    font-size: larger;
    border-bottom: 4px solid#eeeeee;
}
#header a {
    text-decoration: none;
}
#header #me{
    color:white;
}
#header #tube {
    background-color: rgb(255, 98, 0);
    color: white;
    padding: 4px;
    border-radius: 12px;
   
}

#sidebar {
    grid-area: sidebar;
    background-color: rgb(38, 38, 38);
    border-right: 1px solid#eeeeee;
    
    
}
#sidebar ul {
    padding: 12px 8px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #aaaaaa;
}
#sidebar ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px;
}
/* hover */
#sidebar ul a:hover {
    background-color: #eeeeee;
    border-radius: 12px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(38, 38, 38);
    padding: 12px;

}
.metube-item {
    text-decoration:none ;
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}
.metube-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9; 
    background: rgb(255, 98, 0);
    border-radius: 30px 0px 14px 14px;
    

}
.metube-item .thumbnail-placeholder img{
    width: 100%;
    object-fit: cover;
}
.metube-item h4{
    margin: 8px;
    
}
.metube-item h4 a{
    text-decoration: none;
    color: 111111;
    display: block;
    color: rgb(255, 98, 0);
}
.metube-item h4 a:hover {
    text-decoration: underline;
}
.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
    color: white;

}
.metube-item .channel {
    margin: 4px;
}



