@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: grey;
}

#single-column-layout {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url("../images/back.jpg");
    height: 100%;
    background-size: cover;
    background-position: center center;
    color: white;
    border-bottom: 5px solid red;
}

#three-column {
    display: grid;
    margin-top: 36px;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-areas: 
        ". left middle right .";
    align-items: center;
    color: white;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}
#heading {
    background-color: rgba(0, 0, 0, 0.600);
    width:100%;
    padding: 16px;
    border-top: 5px solid red;
    border-bottom: 5px solid goldenrod;
    box-shadow: inset 0px 2px 8px rgb(0, 0, 0)
    
    

}
#heading h3 {
    font-size: 16px;
    margin: 2px;
    color: goldenrod;

}
#heading h1 {
    font-size: 45px;
    margin: 0px;
    font-weight: 1000;
    font-family: ;
}
#heading h2 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 800;
}

#three-column img {
    width: 250px;
    height: 320px;
    box-shadow: 2px 2px 10px black;
}
#info #text a {
    padding: 20px;
    background-color: goldenrod;
    text-decoration: none;
    font-weight: 1000;
    color: black;
    border-radius: 10px;
    margin: 6px;
    
}
#info #text a:hover {
    background-color: red;
}

#info #text h1 {
    font-size: 40px;
    font-weight: 600;
    width:100%;
    padding: 16px;
    border-bottom: 5px solid red;
    border-top: 5px solid goldenrod;
    box-shadow: inset 0px 2px 8px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.600);

}
#info #text {
    box-shadow: inset 0px 2px 8px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.600);
}
#info #text h2 {
    font-size: 30px;
}
#info #text p{
    font-size: 24px;
    padding: 0px 16px;

}
#info #text h4 {
    font-size: 16px;
    color: goldenrod;
    text-decoration: underline;
    margin-bottom: 38px;
}
#info #text h3 {
    font-size: 16px;
    padding: 24px;
}

@media screen and (max-width: 900px) and (min-width:450px) {
    #three-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    #info #text { 
        padding: 24px
    }
    #info #text a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}
    