* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: rgb(245, 236, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px;
    border-bottom: 3px solid burlywood;
}
#nav #logo a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;    
}
#nav #logo span{
    color: rgb(205, 29, 111);
}
#nav #links{
    display: flex;
}
#nav #links a{
    text-decoration: none;
    color: black;
    font-weight: 590;
    font-size: 18px;
    padding-left: 36px;
    
}
#nav #links a:hover {
    text-decoration: underline;
}

/* Dropdown */

#links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
.dropdown-container {
    position: relative;
}
.dropdown {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}
.dropdown-container:hover .dropdown {
    opacity: 1;
    visibility: visible;
}
.dropdown-container .dropdown a{
    background-color: white;
    width: 100%;
    min-width: 200px;
}
#nav #links .dropdown a:hover {
    background: white;
    color: rgb(205, 29, 111);
}

/* hero */

#hero {
    background-image: url(../images/pet-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: -1;
}
#hero h2 {
    font-size: 80px; 
    position: absolute;
    color: rgb(205, 29, 111);
    top: 6%;
    left: 30%;
    text-align: right;
    padding-right: 40px;
    max-width: 700px;
}

/* Card */

.card-container{
    background-image: url(../images/pet-texture.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: -1;
}
.card-container .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 236, 220);
    padding: 30px;
    border: 4px solid burlywood;
    border-radius: 60px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.583);
    
}