* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: rgb(245, 236, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px;
    border-bottom: 2px solid burlywood;
}
#nav #logo a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;    
}
#nav #logo span{
    color: rgb(205, 29, 111);
}
#nav #links{
    display: flex;
}
#nav #links a{
    text-decoration: none;
    color: black;
    font-weight: 590;
    font-size: 18px;
    padding-left: 36px;
    
}
#nav #links a:hover {
    text-decoration: underline;
}

/* Dropdown */

#links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
.dropdown-container {
    position: relative;
}
.dropdown {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}
.dropdown-container:hover .dropdown {
    opacity: 1;
    visibility: visible;
}
.dropdown-container .dropdown a{
    background-color: white;
    width: 100%;
    min-width: 200px;
}
#nav #links .dropdown a:hover {
    background: white;
    color: rgb(205, 29, 111);
}

#hero {
    background-image: url(../images/pet-hero.jpg);
}